.Home {
    .content {

        h2 {
            text-align: center;
            text-decoration: underline;
        }

        .section {
            margin: 2em auto;
            padding: 0 2em;
        }

        .sermons{

            .sa-video {
                position:relative;
                width:100%;
                max-width: 600px;
                height:16em;
                max-height: 600px;
                margin: 0 auto;

                i-frame {
                    position:absolute;
                    left:0;
                    top:0;
                }
            }
        }
        .events{
            nav{
                display: flex;
                justify-content: space-between;

                .event-icons{
                    a{
                        color: black;
                        width: 24px;
                        height: 24px;
                        margin-right: 2em;
                        padding: 10px;
                        &:hover{
                            color: slategray;
                            border-radius: 10px;
                        }
                    }
                    svg{
                        width: 24px;
                        height: auto;
                    }
                }
            }
        }
    }
}