.form-button {
    font-size: large;
    margin-bottom: 2em !important;
    width: 100%;
}

a.btn{
        background-color: #206CF8;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 10px;
        width: 200px;
        padding: .6em 2em;
        text-align: center;
        margin: 2em auto;
}